<!DOCTYPE html>
<html>
    <head>
        <title>Ver Todo de Sus Pedidos</title>
     
    </head>
    <body>
        <div class="banner">
            <header> 
                <h1>Sistema de Reeboloso Submission</h1>
            </header>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="sidebar">
            <a href ="Login.html">Home</a>
            <br/><a href ="RequestSubmit.html">Subir a Report</a>
            <br/><a href ="PendingRequests.html">Ver Pending and Approved Reports</a>
            </div>

        <div class="main">
           
        </div>

    </body>
</html>
